/* Estilos Generales */
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}
body{
    background: linear-gradient(rgba(154, 180, 255,0.2), rgba(154, 180, 255,0.4));
}

.contenedor {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    min-height: 70vh;
}

/* --------------- Header ---------------*/
header {
    background-color: #004173;
    font-family: 'Roboto Condensed', sans-serif;
}

#logo {
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu__icono{
    display: none;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
}

.menu li {
    display: flex;
    flex: 1 1 70px;
    align-items: center;
    justify-content: center;

}

.menu a {
    text-decoration: none;
    color: #ebebf4;
    background-color: #004173;
    padding: .25rem .5rem;
    border-radius: 30px;
    text-align: center;
    transition: all 0.75s ease;
}

.menu a:hover:not(.activo) {
    background: #759ba8;
    color: #000;
    border: 2px solid #444;
}

.activo {
    border: 2px solid rgba(235, 235, 244, 0.5);
} 

/* --------------- Inicio ---------------*/
.intro h3{
    font-size: 1.3rem;
}
.intro p{
    font-size: 1rem;
    padding: 0.5rem 0;
}
.intro{
    position: relative;
    text-align: justify;
    box-shadow: 0px 2px 10px rgba(154, 150, 170,0.2);
    border-radius: 15px;
    padding: 1rem;
}
/* --------------- Emergencias ---------------*/
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: space-between;
    column-gap: 7rem;
    row-gap: 2rem;
    justify-items: center;
}

.container_emergencias {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 5vw;
    max-width: 1200px;
}

.buscar {
    width: 12rem;
    height: 1.8rem;
    place-self: end;
    margin-right: 5vw;
    
}

.buscar input {
    background-color: #EEE;
    background-image: url('../img/busqueda.png');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: 5%;
    width: 100%;
    height: 100%;
    border: 2px solid #AAA;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0 2.5rem;
    padding-right: .6rem;
}
.item{
    display: flex;
    flex-direction: column;
    background-color: #000035;
    color: white;
    border-radius: 30px;
    align-items: center;
    justify-content: baseline;
    width: 300px;
    position: relative;
    transition: all .5s ease;
}
.item:hover {
    transform: scale(1.02);
}
.filtro{
    display: none;
}

.sub-item:first-child {
    width: 100%;
}

.sub-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
    border-bottom: 2px solid rgba(170, 170, 170, 0.7);

}

.sub-item h3 {
    font-size: 1.2rem;
}

.sub-item:not(:first-child) {
    padding: 0.75rem 0;
}

.sub-item:nth-child(2) {
    padding: 0 1rem;
    text-align: center;
}

.sub-item:nth-child(3) {
    text-align: center;
    padding: .5rem 1.5rem 5rem 1.5rem;
}

.sub-item:nth-child(4) {
    padding: 1.5rem 0;
}

.sub-item__link {
    text-decoration: none;
    color: #FFF;
    border: 2px solid #CCC;
    border-radius: 30px;
    padding: .25rem 1.5rem;
}
.sub-item__link:hover{
    animation: link_hover .7s linear 0s 1;
}
@keyframes link_hover {
    0%   {border-top: none;}
    25%  {border-right: none;}
    50%  {border-bottom: none;}
    75% {border-left: none}
  }
.sub-item:last-child {
    position: absolute;
    bottom: 0;
}

/* --------------- Hospitales ---------------*/

/* --------------- Conocenos ---------------*/



/* --------------- Footer ---------------*/
footer {
    margin-top: 2em;
    background-color: #759ba8;
    color: #004173;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
}

footer>p,
.footer__redes,
.footer__copy {
    width: 100%;
    max-width: 1200px;
}

footer i {
    color: #004173;
}

footer>p {
    padding: .5rem 0;
    text-align: center;
}

.footer__redes {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid #004173;
    max-width: 1200px;

}

.footer__copy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    text-align: center;
}

.footer__copy__item {
    padding: .5rem 0;
}




@media screen and (max-width: 599px) {
    #logo{
        height: 35px;
    }
    .menu__icono{
        display:flex;
    }
    .hamburger__menu{
        position: relative;
    }
    .menu{
        position: absolute;
        top: 10px;
        right: 0;
        display: none;
        z-index: 100;
    }
    
    .hamburger__menu:hover .menu{
        display: block;
    }

    .menu__icono{
        display: flex;
        align-items: center;
        font-size:1.2rem;
        gap: 0.2rem;
        color: #FFF;
    }
    .menu a {
        width: 10rem;
        text-decoration: none;
        color: #ebebf4;
        background-color: #004173;
        padding: .75rem .5rem;
        border-radius: 0px;
        text-align: center;
        transition: none;
    }
   
    .menu a:hover:not(.activo) {
        background: #759ba8;
        color: #000;
        border: none;
    }
    .container_emergencias, .contenedor {
        padding: .5rem 5vw;
    }
    .footer__copy__item{
        padding: .5rem 5vw;
    }
    .footer__copy {
        justify-content: center;
    }
    .sub-item img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
        border-bottom: 2px solid rgba(170, 170, 170, 0.7);
    }
    .item{
        width: 250px;
    }
    .menu .activo{
        color: black;
        border: none;
        background-color: #759ba8;
    }
    .buscar {
        width: 10rem;
        height: 1.8rem;
        place-self: end;
        margin-right: 15vw;
        
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    #logo{
        height: 35px;
    }
    :root{
        font-size: 15px;
    }
    .item{
        width: 250px;
    }
    .footer__copy__item, .contenedor{
        padding: .5rem 5vw;
    }
    .footer__copy{
        justify-content: space-between;
    }
    .container-grid{
        column-gap: 4rem;
    }

} 

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .footer__copy{
        justify-content: center;
    }
    :root{
        font-size: 15px;
    }
    .item{
        width: 250px;
    }
    .container-grid{
        column-gap: 4rem;
    }
    .footer__copy{
        justify-content: space-between;
    }
    .footer__copy__item, .contenedor{
        padding: .5rem 5vw;
    }

} 

@media screen and (min-width: 1025px) and (max-width: 2000px) {

    .footer__copy{
        justify-content: space-between;
    }
    .footer__copy__item, .contenedor{
        padding: .5rem 5vw;
    }
    .item{
        width: 280px;
    }
    .container_emergencias{
        margin: 2rem auto;
    }
} 

/*Media querie para tamaños mayores a 1500px*/
@media screen and (min-width: 2000px) {
    :root{
        font-size: 25px;
    }
    .item{
        width: 400px;
    }
    .sub-item img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 30px 30px 0 0;
        border-bottom: 2px solid rgba(170, 170, 170, 0.7);
    
    }
    #logo{
        height: 80px;
    }
    .container_emergencias{
        margin: 2rem auto;
    }
    .buscar {

        margin-right: 0vw;
        
    }
}


